# Basic Python

In [103]:
print("Hello world")

Hello world

## 1.1 Variables

In [104]:
msg = "hello world"
print(msg)

msg = "hell world2"
print(msg)

hello world
hell world2

In [105]:
name = "suraphop"
first_name = "Suraphop"

In [106]:
firstName = "suraphop" #calmel case

In [107]:
#รหัสพนักงาน 

emp_id = "J6639"
emp = "J6639"
id = "J6639"

emp_no = "J6639"
emp_number = "J6639"
employee_number = "J6639"

In [108]:
#legal

#1name = "suraphop"
name_1 = "suraphop"
#$name = "suraphop"

## 1.2 Data Types

1.2.1 Numberic

In [109]:
msg = "hello world"
msg = "4"

#print(type(msg))

#print(msg+1)

print(msg+"1")

41

In [110]:
msg = 4
print(type(msg))
print(msg+1)

<class 'int'>
5

In [111]:
msg = "4"

msg_int = int(msg)
print(type(msg_int))

<class 'int'>

In [112]:
msg = "suraphop"

msg_int = int(msg)
print(type(msg_int))

ValueError: invalid literal for int() with base 10: 'suraphop'

In [ ]:
msg = 4.4 
print(type(msg)) 


print(4+msg)

<class 'float'>
8.4

1.2.1 Operator

In [ ]:
3+4

7

In [ ]:
3-4

-1

In [ ]:
4*3

12

In [ ]:
5/3

1.6666666666666667

In [ ]:
print(round(5/3,2))
print(round(5/3,3))

1.67
1.667

In [ ]:
3**4

81

In [ ]:
3 * (3+4)

21

1.2.2 String

In [ ]:
msg = "hello world"
print(msg)
msg = 'hello world'
print(msg)


#print('This 's easy to learn python')
print("This 's easy to learn python")
print('This "s easy to learn python')

hello world
hello world
This 's easy to learn python
This "s easy to learn python

In [ ]:
# adding string 

msg_1 = "hello"
msg_2 = "world"

print(msg_1 + msg_2)
print(msg_1 +" "+msg_2) 
print(f"{msg_1} {msg_2}") # f-function string

helloworld
hello world
hello world

In [ ]:
"PYTHON".lower()

'python'

In [ ]:
"python".upper()

'PYTHON'

In [ ]:
msg = "Hello world"
msg.upper()

'HELLO WORLD'

1.2.3 Constant

In [ ]:
TEMPERATURE_SCALE = "fahrenheit"
print(TEMPERATURE_SCALE)

TEMPERATURE_SCALE = "fahrenheit1"
print(TEMPERATURE_SCALE)

fahrenheit
fahrenheit1

## 1.3 Compareative(booleans)

In [ ]:
3==4

False

In [ ]:
4==4

True

In [ ]:
print(type(3==4))

<class 'bool'>

In [ ]:
3 != 4

True

In [ ]:
3 < 4

True

In [ ]:
3 <= 4

True

In [ ]:
3 < 4 < 5

True

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
False and True

False

In [ ]:
True or False

True

## 1.4 Comments

In [ ]:
# calculate temperature 
TEMPERATURE_SCALE = 273 # This is a farenhite
current = 32

In [ ]:
""" calculate 
temperature """
TEMPERATURE_SCALE = 273 # This is a farenhite
current = 32

## 1.5 Index and Slicing

In [ ]:
language = "PYTHON"

In [ ]:
#Index
print(language[0])
print(language[1])
print(language[5])
print(language[-1])
print(language[-2])

P
Y
N
N
O

In [ ]:
#Slicing
print(language[0:2])
print(language[:2])

#TH
print(language[2:4])
#THON
print(language[2:])
#HON
print(language[-3:])
#HO
print(language[-3:-1])

PY
PY
TH
THON
HON
HO

## 1.6 Data structures

1.6.1 Lists

In [ ]:
file_name = "oee.xlsx"
file_names = ["oee.xlsx", "oee2.xlsx", "oee3.xlsx"]

print(type(file_name))
print(type(file_names))
print(file_names)

<class 'str'>
<class 'list'>
['oee.xlsx', 'oee2.xlsx', 'oee3.xlsx']

In [ ]:
file_names_2 = ["one.xlsx",2 , "three.xlsx", 2]
file_names_2

['one.xlsx', 2, 'three.xlsx', 2]

In [ ]:
file_names + file_names_2

['oee.xlsx', 'oee2.xlsx', 'oee3.xlsx', 'one.xlsx', 2, 'three.xlsx', 2]

In [ ]:
#index , slicing

file_names = ["oee.xlsx", "oee2.xlsx", "oee3.xlsx"]

print(type(file_names))

print(file_names[0])
print(type(file_names[0]))

print(file_names[:2])
print(type(file_names[:2]))

<class 'list'>
oee.xlsx
<class 'str'>
['oee.xlsx', 'oee2.xlsx']
<class 'list'>

In [ ]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(nested_lists[0])

#1 
print(nested_lists[0][0])
print(type(nested_lists[0][0]))
#5 
print(nested_lists[1][1])
print(type(nested_lists[1][1]))
#9
print(nested_lists[2][2])
print(type(nested_lists[2][2]))
#[8,9]
print(nested_lists[2][1:]) #reccommend
print(type(nested_lists[2][1:]))
print(nested_lists[2][1:3])
print(nested_lists[2][-2:])

[1, 2, 3]
1
<class 'int'>
5
<class 'int'>
9
<class 'int'>
[8, 9]
<class 'list'>
[8, 9]
[8, 9]

In [ ]:
#add values in list
users = ['Alice', 'Bob', 'Charlie']
print(users)

['Alice', 'Bob', 'Charlie']

In [ ]:
users.append("suraphop")
print(users)

['Alice', 'Bob', 'Charlie', 'suraphop']

In [ ]:
users.insert(0, "Kim")
print(users)

['Kim', 'Alice', 'Bob', 'Charlie', 'suraphop']

In [ ]:
users.pop()
print(users)

['Kim', 'Alice', 'Bob', 'Charlie']

In [ ]:
users.pop(0)
print(users)

['Alice', 'Bob', 'Charlie']

In [ ]:
del users[0]
print(users)

['Bob', 'Charlie']

In [115]:
print(users)
users[0] = "David"
print(users)

['Bob', 'Charlie']
['David', 'Charlie']

In [118]:
print("David" in users)
print("David2" in users)
print("david" in users)

True
False
False

In [119]:
"XS" in "XSOOIS"

True

In [122]:
#sorts
print(users)
users.sort()
print(users) #ASC
users.sort(reverse=True)
print(users) #DESC

['Charlie', 'David']
['Charlie', 'David']
['David', 'Charlie']

### 1.6.2 Dictionary

In [126]:
exchange_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452 , "AUDUSD":0.6161}
print(type(exchange_rates))
print(exchange_rates)

<class 'dict'>
{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [ ]:
#get value
print(exchange_rates["EURUSD"])
print(type(exchange_rates["EURUSD"]))

1.1152
<class 'float'>

In [ ]:
# add value
exchange_rates["EURJPY"] = 144.01
print(exchange_rates)

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 144.01}

In [131]:
#edit value
exchange_rates["EURJPY"] = 200.01
print(exchange_rates)

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 200.01}

In [132]:
#delete value
exchange_rates.pop("EURJPY")
print(exchange_rates)

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

### 1.6.3 Tuple

In [138]:
currencies = ("EUR","GBP","AUD")
currencies_lists = ["EUR","GBP","AUD"]
print(type(currencies))
print(type(currencies_lists))

#currencies[0] = "USD"
currencies_lists[0] = "USD"
print(currencies_lists)

<class 'tuple'>
<class 'list'>
['USD', 'GBP', 'AUD']

## 1.7 Control flow

### 1.7.1 If statement

In [140]:
i = 6
print(i < 5)

if True:
    print("Condition is True")

False
Condition is True

In [152]:
i=6
if i<5:
    print("i is less than 5")
elif i <=10:
    print("i is between 5 and 10")
elif i <=15:
    print("i is between 10 and 15")
else:
    print("out of range")

i is between 5 and 10

### For Loops and While Loop

In [153]:
for i in range(5):
    print(i)

0
1
2
3
4

In [156]:
for i in range(10):
    if i == 5:
        print("Found 5")
        break
    print(i)

0
1
2
3
4
Found 5

In [158]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [159]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [160]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

### For loops in data structure

#### 1.7.3.1 for loops in lists

In [161]:
currencies = ["USD","HKD","AUD"]
currencies

['USD', 'HKD', 'AUD']

In [163]:
for currencie in currencies:
    print(currencie)
    print(type(currencie))

USD
<class 'str'>
HKD
<class 'str'>
AUD
<class 'str'>

#### 1.7.3.2 for loops in dictionaries

In [ ]:
exchange_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452,"AUDUSD":0.6161}
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [165]:
for exchange_rate in exchange_rates:
    print(exchange_rate)
    print(type(exchange_rate))

EURUSD
<class 'str'>
GBPUSD
<class 'str'>
AUDUSD
<class 'str'>

In [167]:
for exchange_rate in exchange_rates.values():
    print(exchange_rate)
    print(type(exchange_rate))

1.1152
<class 'float'>
1.2452
<class 'float'>
0.6161
<class 'float'>

In [168]:
for exchange_rate in exchange_rates.items():
    print(exchange_rate)
    print(type(exchange_rate))

('EURUSD', 1.1152)
<class 'tuple'>
('GBPUSD', 1.2452)
<class 'tuple'>
('AUDUSD', 0.6161)
<class 'tuple'>

example: ตรวจสอบคะแนน

- กำหนดคะแนน
scores = [80, 65, 47, 90, 30, 70]
- ตรวจสอบว่ามีใครสอบได้ต่ำกว่า 50 บ้างหรือไม่
- ถ้าต่ำกว่า 50 ให้โชว "นักเรียนคนนี้สอบไม่ผ่าน (คะแนน = {score}) "
- ถ้ามากกว่า หรือเท่ากับ 50 ให้โชว "นักเรียนคนนี้สอบผ่าน (คะแนน = {score}) "

In [170]:
scores = [80, 65, 47, 90, 30, 70]

for score in scores:
    if score < 50:
        print(f"นักเรียนคนนี้สอบไม่ผ่าน (คะแนน = {score})")
    else:
        print(f"นักเรียนคนนี้สอบผ่าน ")

นักเรียนคนนี้สอบผ่าน
นักเรียนคนนี้สอบผ่าน
นักเรียนคนนี้สอบไม่ผ่าน (คะแนน = 47)
นักเรียนคนนี้สอบผ่าน
นักเรียนคนนี้สอบไม่ผ่าน (คะแนน = 30)
นักเรียนคนนี้สอบผ่าน

example2: ตรวจสอบว่านักเรียนสอบผ่านครบทุกคนหรือไม่
- กำหนดคะแนน scores = [60, 75, 55, 40,35,10, 90]
- กำหนดคะแนน scores = [60, 75, 55, 60,70,50, 90]
- เกณฑ์: คะแนน >= 50 ถือว่าผ่าน
- ถ้าสอบผ่านทั้งหมดให้โชว "นักเรียนทุกคนสอบผ่าน"
- ถ้าสอบไม่ผ่านให้โชว "มีนักเรียนบางคนสอบไม่ผ่าน ซึ่งคะแนนที่สอบไม่ผ่านมีดังนี้
    - {score}
    - {score}"

In [ ]:
scores = [60, 75, 55, 40,35,10, 90]    

#scores = [60, 75, 55, 60,70,50, 90]

all_pass =  True   
failed_scores = []

for score in scores:
    if score < 50:
        all_pass = False  
        failed_scores.append(score)
        
if all_pass == True:
    print("นักเรียนทุกคนสอบผ่าน")
else:
    print("นักเรียนที่สอบไม่ผ่านมีคะแนนดังนี้:")
    for failed in failed_scores:
        print(f"- {failed}")

นักเรียนที่สอบไม่ผ่านมีคะแนนดังนี้:
- 40
- 35
- 10

## 1.8 Function

In [7]:
def test():
    """for print hello world"""
    print("hello world")

In [8]:
test()

hello world

In [16]:
def calculation(input_1 , input_2):
    """ plus 2 digit"""
    print(input_1 + input_2)

#calculation(3,4) 
#calculation(3,4) + 1 

print(calculation(3,4))

7
None

In [ ]:
def calculation(input_1 , input_2):
    """ plus 2 digit"""
    #print(input_1 + input_2)
    return input_1 + input_2
print(calculation(3,4))
#calculation(3,4) + 1

7

In [24]:
def calculation(input_1 , input_2):
    """ plus 2 digit"""
    result = input_1 + input_2 
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result, msg

print(type(calculation(2, 3)))
print(calculation(2, 3))

# +10  -> 15
print(calculation(2, 3)[0] + 10)

# OK 
print(calculation(2, 3)[1])

<class 'tuple'>
(5, 'ok')
15
ok

In [29]:
def calculation(input_1 , input_2):
    """ minus 2 digit"""
    result = input_1 - input_2 
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result, msg

print(calculation(3,4))
print(calculation(4,3))

print(calculation(input_1=3,input_2=4))
print(calculation(input_2=4,input_1=3))

(-1, 'ok')
(1, 'ok')
(-1, 'ok')
(-1, 'ok')

In [31]:
def calculation(input_1 , input_2=10):
    """ minus 2 digit"""
    result = input_1 - input_2 
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result, msg

print(calculation(3))
print(calculation(3,4))

(-7, 'ok')
(-1, 'ok')

example 
ให้เขียนโปรแกรมคำนวณพื้นที่สามเหลี่ยม โดยทำงานดังนี้

สร้างฟังก์ชัน area_rectangle(width, height) เพื่อหาพื้นที่สี่เหลี่ยมผืนผ้า

สร้างฟังก์ชัน area_triangle(base, height) โดยในฟังก์ชันนี้ให้ เรียกใช้ area_rectangle แล้วหาร 2 เพื่อหาพื้นที่สามเหลี่ยม

กำหนดค่า base = 6 และ height = 4 แล้วแสดงผลลัพธ์

ต้องโชวดังนี้
- ฐาน = 6
- สูง = 4
- พื้นที่สามเหลี่ยม = 12.0

In [ ]:
def area_rectangle(width,height):
    """ calculate area of rectangle """
    return width * height

def area_triangle(base,height):   
    """ calculate area of triangle """
    rectangle_area = area_rectangle(base,height)
    return rectangle_area/2

base = 6 
height = 4
triangle_area =area_triangle(base,height)

print(f"- ฐาน = {base}")
print(f"- สูง = {height}")
print(f"- พื้นที่สามเหลี่ยม = {triangle_area}")

- ฐาน = 6
- สูง = 4
- พื้นที่สามเหลี่ยม = 12.0

## 3.9 Module

In [35]:
import calculation

In [36]:
calculation.plus(3,4)

(7, 'ok')

In [37]:
calculation.minus(4,3)

(1, 'ok')

In [38]:
import calculation as cal 
cal.minus(4,3)

(1, 'ok')

In [39]:
cal.plus(3,4)

(7, 'ok')

In [ ]:
from calculation import plus 

plus(3,4)
#minus(4,3)

NameError: name 'minus' is not defined

In [42]:
from calculation import plus , minus 

minus(4,3)

(1, 'ok')

## 3.10 Try except

In [ ]:
#msg = int("4D")

ValueError: invalid literal for int() with base 10: '4D'

In [45]:
try:
    msg = int("4D")
except ValueError as e :
    print(e)

invalid literal for int() with base 10: '4D'

Example1

convert to celsius

-input ใส่ค่าอุณหภูมิ , fahrenhite,kelvin
- สูตรคำนวน (degrees-32)*(5/9) # fahrenhite
- สูตรคำนวน degrees -273.15 # kelvin
- ถ้าใส่ค่านอกเหนือจาก fahrenhite,kelvin โปรแกรมจะบอกว่า  ไม่รุ้จักค่านี้ให้ใส่ค่าใหม่
- ถ้าไม่ใส่หน่วยอุณหภูมิให้โปรแกรมคิดว่า fahrenhite

print(convert_to_celsius(100))

print(convert_to_celsius(100,'kelvin'))

print(convert_to_celsius(100,'Kelvin'))

print(convert_to_celsius(100,'Fahrenhite'))

print(convert_to_celsius(100,'qwqe'))

print(convert_to_celsius('100','kelvin'))

print(convert_to_celsius('100.13','kelvin'))

print(convert_to_celsius('sdfsdf','kelvin'))


37.78

-173.15

-173.15

37.78

Don't know source: qwqe

-173.15

-173.02