# 2 Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Name" : ["Suraphop","Linda","John"],
    "Age" : [30,25,35],
    "Sex" : ["M","F","M"]
})
print(df)
print(type(df))

       Name  Age Sex
0  Suraphop   30   M
1     Linda   25   F
2      John   35   M
<class 'pandas.core.frame.DataFrame'>

In [10]:
datas = [["Mark",55,"Italy",4.5,"Europe"],
         ["john",33,"USA",6.9,"America"],
         ["tim",41,"USA",3.9,"America"]]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
print('dataframe')
df

dataframe

   name  age country  score continent
0  Mark   55   Italy    4.5    Europe
1  john   33     USA    6.9   America
2   tim   41     USA    3.9   America

## 2.2 Input

### 1.2.1 csv and excel

In [ ]:
df = pd.read_csv()